@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;600;700&display=swap");
body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 300; }

#sectionHome {
  background-image: url(/imagenes/imagen-home.jpg);
  width: 100%;
  background-position: center;
  height: 65vh; }

h1,
h2,
h3,
h4 {
  font-weight: 300 !important; }

a {
  color: #F30201; }

a.text-white {
  color: white; }

.whatsappButton {
  top: 90%;
  color: white;
  border: 0;
  border-radius: 180px;
  padding: 1px; }

.card {
  position: absolute;
  bottom: 5.5%;
  right: 5%;
  text-align: center;
  color: #272243;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.03);
  width: 320px;
  overflow: hidden;
  animation: updown 3s ease 6; }
  .card::before {
    content: "";
    border-width: 20px;
    border-color: transparent;
    border-style: solid;
    border-left-color: rgba(255, 255, 255, 0.9);
    border-left-width: 30px;
    display: block;
    position: absolute;
    top: 55%;
    left: 50%;
    z-index: 2;
    transform: translatex(calc(-50% + 15px));
    filter: drop-shadow(5px 5px 4px #000);
    pointer-events: none; }
  .card h1 {
    margin: 0;
    padding: 10px;
    font-size: 16px; }

@keyframes updown {
  0%,
  50%,
  100% {
    transform: translatey(0); }
  20% {
    transform: translatey(5px); }
  25% {
    transform: translatey(-20px); }
  30% {
    transform: translatey(20px); }
  35% {
    transform: translatey(-5px); } }

.anner {
  display: none; }

.hamburger {
  position: fixed;
  left: 30px;
  top: 30px;
  display: flex;
  height: 18px;
  width: 24px;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  z-index: 1; }
  .hamburger__icon {
    color: #bada55;
    background-color: #646363;
    width: 51px;
    padding-left: 5px;
    border-radius: 5px; }

.sidebar {
  height: 100vh;
  width: 320px;
  background: #235270;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  transform: translatex(-100%);
  transition: transform 0.4s ease-in-out;
  z-index: 3; }
  .sidebar__close {
    position: absolute;
    top: 5%;
    right: 142px;
    background: #fff;
    height: 60px;
    width: 60px;
    border-radius: 100%/2;
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.03);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translatex(-100%);
    cursor: pointer;
    transition: transform 0.4s ease-in-out 0.2s; }
    .sidebar__close::before, .sidebar__close::after {
      content: "";
      height: 2px;
      background: #898989;
      width: 24px;
      display: block;
      position: absolute; }
    .sidebar__close::after {
      transform: rotate(90deg); }
  .sidebar__menu {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-around;
    font-size: 36px;
    margin-top: 80px;
    margin-bottom: 80px;
    color: #fff; }
    .sidebar__menu a {
      color: currentcolor;
      text-decoration: none;
      transform: translatex(-80%);
      transition: transform 0.4s ease-in-out; }
      .sidebar__menu a::before {
        content: "";
        height: 2px;
        background: #898989;
        width: 120px;
        position: absolute;
        bottom: -2px;
        left: 0;
        transform: translatex(-50%);
        opacity: 0;
        transition: transform 0.4s ease-in-out, opacity 0.4s linear; }
      .sidebar__menu a:hover::before {
        transform: translatex(0);
        opacity: 1; }
      .sidebar__menu a:nth-child(1) {
        transition-delay: 0.05s; }
      .sidebar__menu a:nth-child(2) {
        transition-delay: 0.1s; }
      .sidebar__menu a:nth-child(3) {
        transition-delay: 0.15s; }
      .sidebar__menu a:nth-child(4) {
        transition-delay: 0.2s; }
      .sidebar__menu a:nth-child(5) {
        transition-delay: 0.25s; }
  .sidebar__social {
    display: flex;
    list-style: none;
    padding: 0;
    width: 50px;
    justify-content: space-between; }
    .sidebar__social a,
    .sidebar__social svg {
      display: inline-block;
      height: 18px;
      width: 18px;
      color: gray !important;
      font-size: 15px; }

.menu-control {
  display: none; }
  .menu-control:checked + .sidebar {
    transform: translatex(0); }
  .menu-control:checked + .sidebar .sidebar__close {
    transform: translatex(0) rotate(45deg); }
  .menu-control:checked + .sidebar .sidebar__menu a {
    transform: translatex(0); }

body::-webkit-scrollbar {
  width: 0.5em; }

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(122, 122, 122, 0.986); }

body::-webkit-scrollbar-thumb {
  background-color: #235270 !important;
  border-radius: 5px;
  outline: 1px solid #235270; }
